#root,
body,
html {
    font-size: 16px;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

@media screen and(max-width: 1275px) {
    #root,
    body,
    html {
        font-size: 14px;
    }
}

@media screen and(max-width: 1000px) {
    #root,
    body,
    html {
        font-size: 12px;
    }
}

@media screen and(max-width: 650px) {
    #root,
    body,
    html {
        font-size: 10px;
    }
}
