#contentC {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: grid;
    background-color: lightsteelblue;
    font-family: sans-serif;
}
#msg9 {
    font-size: 1rem;
}
#img1 {
    width: 2rem;
}
