.commercial-form {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
    max-width: 65rem;

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .edit-fields {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}
